<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<connectionStrings>
		<add name="DbContext123" connectionString="Data source=198.61.141.187;Initial Catalog=123;Persist Security Info=True;Trusted_Connection=false;User ID=123lease1;Password=123lease123;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
	
	
		<add key="urlBucketWS" value="http://123docs.einteligent.com/service.asmx"/>
		<add key="actionUploadBucketFileWS" value="http://tempuri.org/TransportFile"/>
		<add key="bucketPath" value="PROD/ARCHIVOS/"/>
		<add key="logPath" value="C:\log"/>



	</appSettings>
</configuration>